/*
 * ChooseMode component
 */
 .container-choosemode-body {
    background-image: url(../images/backgroundChooseMode.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 10vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modeButton {
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.row-mode {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img-mode {
    background-image: url(../images/backgroundMode.png);
    background-size: cover;
}

.text-mode{
    color: white;
    font-size: 30px;
    padding-top: 2vh;
}

/*
 * GetStarted component
 */
 .container-getstarted-body {
    background-image: url(../images/backgroundGetStarted.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 10vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*
 * For all compenent
 */

.container-button-lg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 1vh;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
}

.title {
    color: white;
    font-size: 75px; 
}

.greyText {
    color: #797979;
    font-size: 30px;
    max-width: 40vh;
}


/*
 * Loading page
 */
.loading {
    background-color: black; 
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}